<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>JS - TimeZone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="src/app.js"></script>
</head>

<body ng-app="jsTimeZoneApp">

  <div ng-controller="TimeController as vm" class="container">
    <form class="form-horizontal" style="margin-top: 20px" ng-submit="vm.submit()">
      <p class="input-group">
        <!--input type="date" ng-model="vm.time" class="form-control" id="dateInput"-->
        <input type="text"
          class="form-control"
          uib-datepicker-popup="yyyy/MM/dd"
          ng-model="vm.time"
          is-open="vm.datePicker.opened"
          datepicker-options="vm.datePicker.options"
          datepicker-localdate/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      <input type="submit" class="btn btn-primary pull-right" value="Send"></input>
    </form>

    <div style="margin-top: 100px">
      <pre>{{ vm.epoch | json }}</pre>
      <pre>{{ vm.time | json }}</pre>
      <pre>{{ vm.timeZoneOffset() }}</pre>
    </div>
  </div>

</body>

</html>
